.background 
{ 
	 left: 0px; 
	 top: 0px; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 900px;
	 height: 800px; 
	 overflow: hidden;
	 z-index:0;
	 background: url("../images/fondo.png") no-repeat;
	 background-size: 100% 100%;
} 
/* banner*/ 
 .banner 
{ 
	 top: 102px; 
	 position: absolute; 
	 width: 900px;
	 height: 220px;
	 z-index:3;
}

/* footer*/
.footer 
{ 
	background: url("../images/footer.png") no-repeat;
	background-size: 100% 100%;
	top: 767px; 
	width: 900px;
	position: absolute; 
	height: 33px;
	color:#fff;
} 

/* menu */
.menu 
{ 
	background: url("../images/borderMenu.png") no-repeat;
	background-size: 100% 100%;
	top: 320px;
	position: absolute; 
	width: 900px;
} 
.bottonmenu
{
	color:#fff;
	text-align:center;
	font:bold 14px "Arial"; 
	background: url("../images/boton.png");
	background-size: 100% 100%;
	width: 115px; 
	/*height: 40px;*/
}
.body
{
	top: 380px; 
	position: absolute;
	width: 860px;
	height: 310px;
	margin: 0px 20px;
}
